## Final Submission Code

This notebook contains the code used to create top submission for Kaggle 3.

In [1]:
import numpy as np
import pandas as pd
#%pip install xgboost
import xgboost as xgb
import matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN
from sklearn.model_selection import train_test_split, cross_val_score, KFold, GridSearchCV
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from datetime import datetime
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import StackingRegressor
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn import metrics
from sklearn.preprocessing import LabelEncoder
from sklearn.svm import SVR
import re

## Import the 3 datasets

In [2]:
aa_gauges = pd.read_csv("AA Raining 2014-2023.csv")
plant_flows = pd.read_csv("plant flows 2014-2021 summary.csv")
weather = pd.read_csv("NOAA Data 2014-2023.csv")

## Data Preprocessing

In [3]:
weather['DATE'] = pd.to_datetime(weather['DATE']).dt.strftime('%Y/%m/%d')
plant_flows['Collection Date/Time'] = pd.to_datetime(plant_flows['Collection Date/Time'],format = '%Y/%m/%d 0:00').dt.strftime('%Y/%m/%d')

In [4]:
# Improved function to remove leading zeroes from day and month in date strings but not from time
def remove_leading_zeroes(date_str):
    # Split the string into date and time
    # This regex finds parts of the date that are of the form '/0' and replaces them with '/'
    new_date_part = re.sub(r'(?<=/| )0(?=[1-9])', '', date_str)
    # Reassemble the date and time parts
    new_date_str = new_date_part #+ ' ' + time_part
    return new_date_str

# Apply the transformation to the 'Collection Date/Time' column
weather['DATE'] = weather['DATE'].apply(remove_leading_zeroes)
plant_flows['Collection Date/Time'] = plant_flows['Collection Date/Time'].apply(remove_leading_zeroes)
weather.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,SN52,SNOW,SNWD,SX52,TMAX,TMIN,TOBS,WESD
0,USC00200230,"ANN ARBOR U OF MICH, MI US",42.29806,-83.66388,247.8,2014/1/1,0.33,30.0,4.7,6.0,31.0,16,12.0,12,NaN
1,USC00200230,"ANN ARBOR U OF MICH, MI US",42.29806,-83.66388,247.8,2014/1/2,0.41,30.0,4.3,8.0,30.0,15,10.0,10,NaN
2,USC00200230,"ANN ARBOR U OF MICH, MI US",42.29806,-83.66388,247.8,2014/1/3,0.01,30.0,0.2,7.0,30.0,16,-6.0,7,NaN
3,USC00200230,"ANN ARBOR U OF MICH, MI US",42.29806,-83.66388,247.8,2014/1/4,0.00,30.0,0.0,6.0,30.0,30,7.0,27,NaN
4,USC00200230,"ANN ARBOR U OF MICH, MI US",42.29806,-83.66388,247.8,2014/1/5,0.56,30.0,5.6,12.0,30.0,31,25.0,25,NaN

In [5]:
merged_data = pd.merge(aa_gauges, weather, left_on='period', right_on='DATE', how='outer')
merged_data.tail(100)

,period,Barton Pond,CityHall,Jackson,N Campus Pump Station,S Industrial,STATION,NAME,LATITUDE,LONGITUDE,...,DATE,PRCP,SN52,SNOW,SNWD,SX52,TMAX,TMIN,TOBS,WESD
3478,2023/7/11,0.21,0.38,0.26,NaN,0.22,USC00200230,"ANN ARBOR U OF MICH, MI US",42.29806,-83.66388,...,2023/7/11,0.51,67.0,0.0,0.0,70.0,86.0,57.0,74.0,NaN
3479,2023/7/12,0.41,0.09,0.34,NaN,0.38,USC00200230,"ANN ARBOR U OF MICH, MI US",42.29806,-83.66388,...,2023/7/12,0.18,67.0,0.0,0.0,69.0,78.0,62.0,69.0,NaN
3480,2023/7/13,0.13,0.03,0.08,NaN,0.17,USC00200230,"ANN ARBOR U OF MICH, MI US",42.29806,-83.66388,...,2023/7/13,0.32,67.0,0.0,0.0,69.0,77.0,59.0,74.0,NaN
3481,2023/7/14,0.01,0.05,0.07,NaN,0.10,USC00200230,"ANN ARBOR U OF MICH, MI US",42.29806,-83.66388,...,2023/7/14,0.03,66.0,0.0,0.0,69.0,84.0,55.0,79.0,NaN
3482,2023/7/15,0.45,0.61,0.46,NaN,0.74,USC00200230,"ANN ARBOR U OF MICH, MI US",42.29806,-83.66388,...,2023/7/15,0.51,68.0,0.0,0.0,69.0,79.0,64.0,72.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3573,2023/10/14,0.31,0.41,0.37,NaN,0.00,USC00200230,"ANN ARBOR U OF MICH, MI US",42.29806,-83.66388,...,2023/10/14,0.45,NaN,0.0,0.0,NaN,53.0,46.0,50.0,NaN
3574,2023/10/15,0.00,0.01,0.01,NaN,0.00,USC00200230,"ANN ARBOR U OF MICH, MI US",42.29806,-83.66388,...,2023/10/15,0.00,NaN,0.0,0.0,NaN,53.0,40.0,51.0,NaN
3575,2023/10/16,0.00,0.00,0.00,NaN,0.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3576,2023/10/17,0.00,0.00,0.00,NaN,0.00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3577,2023/10/18,0.00,0.00,0.17,NaN,0.17,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
final_merged_data = pd.merge(merged_data, plant_flows, left_on='DATE', right_on='Collection Date/Time', how='outer')

### Feature selection

In [7]:
df = final_merged_data

# Remove specific columns
df = df.drop(['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'Collection Date/Time'], axis=1)

# Convert 'period' to datetime
df['period'] = pd.to_datetime(df['period'])

# Filter the DataFrame
df = df[df['period'] <= pd.to_datetime('2023-02-02')]

df.tail(100)

,period,Barton Pond,CityHall,Jackson,N Campus Pump Station,S Industrial,PRCP,SN52,SNOW,SNWD,SX52,TMAX,TMIN,TOBS,WESD,Delivered water
3237,2022-10-26,0.20,NaN,0.18,0.2,0.16,0.21,49.0,0.0,0.0,49.0,68.0,45.0,45.0,NaN,NaN
3238,2022-10-27,0.00,NaN,0.00,0.0,0.00,0.00,45.0,0.0,0.0,49.0,55.0,29.0,49.0,NaN,NaN
3239,2022-10-28,0.00,NaN,0.00,0.0,0.00,0.00,44.0,0.0,0.0,46.0,60.0,29.0,55.0,NaN,NaN
3240,2022-10-29,0.00,NaN,0.00,0.0,0.00,0.00,43.0,0.0,0.0,45.0,64.0,28.0,59.0,NaN,NaN
3241,2022-10-30,0.00,NaN,0.00,0.0,0.00,0.00,43.0,0.0,0.0,45.0,59.0,30.0,57.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3332,2023-01-29,0.05,0.0,0.01,NaN,0.04,0.09,30.0,0.6,6.0,31.0,31.0,27.0,28.0,NaN,NaN
3333,2023-01-30,0.00,0.0,0.00,NaN,0.00,0.03,30.0,0.4,6.0,30.0,28.0,19.0,19.0,0.8,NaN
3334,2023-01-31,0.00,0.0,0.00,NaN,0.00,0.00,29.0,0.0,5.0,30.0,20.0,-3.0,14.0,NaN,NaN
3335,2023-02-01,0.00,0.0,0.00,NaN,0.00,0.00,29.0,0.0,5.0,29.0,26.0,-1.0,18.0,NaN,NaN
3336,2023-02-02,0.00,0.0,0.01,NaN,0.00,0.00,29.0,0.0,5.0,29.0,36.0,7.0,30.0,NaN,NaN

In [8]:
df.isnull().sum()

period                      0
Barton Pond              3013
CityHall                   98
Jackson                   195
N Campus Pump Station     109
S Industrial              366
PRCP                        0
SN52                        0
SNOW                      245
SNWD                      245
SX52                        0
TMAX                        0
TMIN                        0
TOBS                        0
WESD                     3243
Delivered water           399
dtype: int64

In [9]:
rows_with_null = df[df['Delivered water'].isnull()]
rows_with_null

,period,Barton Pond,CityHall,Jackson,N Campus Pump Station,S Industrial,PRCP,SN52,SNOW,SNWD,SX52,TMAX,TMIN,TOBS,WESD,Delivered water
344,2014-12-06,NaN,0.00,0.00,0.00,0.00,0.00,34.0,0.0,0.0,35.0,39.0,31.0,31.0,NaN,NaN
2939,2022-01-01,NaN,0.06,0.02,0.02,0.09,0.12,33.0,0.6,1.0,33.0,41.0,29.0,29.0,NaN,NaN
2940,2022-01-02,NaN,0.00,0.00,0.00,0.02,0.21,32.0,2.2,3.0,33.0,29.0,17.0,17.0,NaN,NaN
2941,2022-01-03,NaN,0.00,0.01,0.00,0.00,0.00,30.0,0.0,2.0,32.0,28.0,1.0,21.0,0.2,NaN
2942,2022-01-04,NaN,0.00,0.00,0.00,0.00,0.00,30.0,0.0,2.0,30.0,33.0,15.0,30.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3332,2023-01-29,0.05,0.00,0.01,NaN,0.04,0.09,30.0,0.6,6.0,31.0,31.0,27.0,28.0,NaN,NaN
3333,2023-01-30,0.00,0.00,0.00,NaN,0.00,0.03,30.0,0.4,6.0,30.0,28.0,19.0,19.0,0.8,NaN
3334,2023-01-31,0.00,0.00,0.00,NaN,0.00,0.00,29.0,0.0,5.0,30.0,20.0,-3.0,14.0,NaN,NaN
3335,2023-02-01,0.00,0.00,0.00,NaN,0.00,0.00,29.0,0.0,5.0,29.0,26.0,-1.0,18.0,NaN,NaN
3336,2023-02-02,0.00,0.00,0.01,NaN,0.00,0.00,29.0,0.0,5.0,29.0,36.0,7.0,30.0,NaN,NaN

In [10]:
# Impute the missing value for the one day in the training set period of time
df.at[344, 'Delivered water'] = 13.5

In [11]:
# Drop columns that are missing a majority of the values
columns_to_drop = ['WESD', 'Barton Pond']
df = df.drop(columns=columns_to_drop)

In [12]:
# Creating the cosine and sine of the month
df['month'] = df['period'].dt.month

df['sin_month'] = np.sin(2 * np.pi * df['month'] / 12)

df['cos_month'] = np.cos(2 * np.pi * df['month'] / 12)

columns_to_drop = ['month']
df = df.drop(columns=columns_to_drop)

### Imputation

In [13]:
# Imputing the missing values from selected columns 
imputer = IterativeImputer(max_iter=10, random_state=0, imputation_order='ascending')

# List of columns to impute
columns_to_impute = ['CityHall', 'Jackson', 'N Campus Pump Station', 'S Industrial', 'PRCP', 'SN52', 'SNOW', 'SNWD', 'SX52', 'TMAX', 'TMIN', 'TOBS']

# Fit and transform the specified columns
df[columns_to_impute] = imputer.fit_transform(df[columns_to_impute])

In [14]:
df.isnull().sum()

period                     0
CityHall                   0
Jackson                    0
N Campus Pump Station      0
S Industrial               0
PRCP                       0
SN52                       0
SNOW                       0
SNWD                       0
SX52                       0
TMAX                       0
TMIN                       0
TOBS                       0
Delivered water          398
sin_month                  0
cos_month                  0
dtype: int64

In [15]:
# Creating the train and test sets
train_data = df[df['period'] < '2022-01-01']
test_data = df[(df['period'] >= '2022-01-01') & (df['period'] <= '2023-02-02')]

X_train = train_data.drop(columns=['Delivered water', 'period'])
y_train = train_data['Delivered water']

X_test = test_data.drop(columns=['Delivered water', 'period'])
y_test = test_data['Delivered water']

## Modeling

In [16]:
from sklearn.model_selection import GridSearchCV, TimeSeriesSplit
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score


cv_splits = 5

xgb_model = XGBRegressor()

param_grid = {
    'n_estimators': [20, 50, 100, 150, 200],  
    'max_depth': [1, 3, 5, 7, 10],           
    'learning_rate': [0.01, 0.1, 0.2, 0.3],
}

# Create a TimeSeriesSplit cross-validator
tscv = TimeSeriesSplit(n_splits=cv_splits)

# Create the GridSearchCV object
grid_search = GridSearchCV(estimator=xgb_model, param_grid=param_grid, scoring='neg_mean_squared_error',
                           cv=tscv, verbose=1, n_jobs=-1)

# Fit the GridSearchCV object to the data
grid_search.fit(X_train, y_train)

print("Best Hyperparameters:", grid_search.best_params_)
print("Best Mean Squared Error:", -grid_search.best_score_)

# Access the best model directly
best_xgb_model = grid_search.best_estimator_

cv_results = cross_val_score(best_xgb_model, X_train, y_train, scoring='neg_mean_squared_error', cv=tscv)
print("Cross-validated Mean Squared Error on the entire dataset:", np.mean(-cv_results))

Fitting 5 folds for each of 100 candidates, totalling 500 fits

Best Hyperparameters: {'learning_rate': 0.2, 'max_depth': 1, 'n_estimators': 100}
Best Mean Squared Error: 2.7208429599998207
Cross-validated Mean Squared Error on the entire dataset: 2.7208429599998207

In [65]:
param_grid = {
    'n_estimators': [50, 100, 150, 200],
    'max_depth': [None, 1, 5, 10, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['auto', 'sqrt', 'log2']
}

# Create the RandomForestRegressor
rf_model = RandomForestRegressor()


cv_splits = 5 

# Create a TimeSeriesSplit cross-validator
tscv = TimeSeriesSplit(n_splits=cv_splits)

# Create the GridSearchCV object
grid_search_rf = GridSearchCV(estimator=rf_model, param_grid=param_grid, scoring='neg_mean_squared_error',
                               cv=tscv, verbose=1, n_jobs=-1)

# Fit the GridSearchCV object to the data
grid_search_rf.fit(X_train, y_train)

print("Best Hyperparameters:", grid_search_rf.best_params_)
print("Best Mean Squared Error:", -grid_search_rf.best_score_)

Fitting 5 folds for each of 540 candidates, totalling 2700 fits

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/joblib/externals/loky/process_executor.py:752: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/model_selection/_validation.py:425: FitFailedWarning:
900 fits failed out of a total of 2700.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
309 fits failed with the following error:
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/model_selection/_validation.py", line 729, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py", line 1145, in wrapper
    estimator._validate_params()
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py", line 638, in _validate_params
    validate_parameter_constraints(
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/utils/_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
591 fits failed with the following error:
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/model_selection/_validation.py", line 729, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py", line 1145, in wrapper
    estimator._validate_params()
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py", line 638, in _validate_params
    validate_parameter_constraints(
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/utils/_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/model_selection/_search.py:979: UserWarning: One or more of the test scores are non-finite: [        nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
 -2.8868229  -2.84914603 -2.84159937 -2.84891545 -2.81958397 -2.79531805
 -2.83549375 -2.80273814 -2.79201644 -2.80877259 -2.74804965 -2.76852437
 -2.79717501 -2.79428562 -2.7923965  -2.80987559 -2.81722448 -2.8137008
 -2.79377103 -2.79316957 -2.7625676  -2.77007416 -2.77570433 -2.78319138
 -2.76396449 -2.7827569  -2.78858661 -2.79826188 -2.78228422 -2.78262819
 -2.76237447 -2.79183521 -2.80909008 -2.77673351 -2.78414695 -2.76190284
 -2.83953726 -2.85569026 -2.820193   -2.83865709 -2.85396691 -2.81660326
 -2.79230643 -2.78366852 -2.79070193 -2.79850732 -2.78768206 -2.78448276
 -2.87474356 -2.80746633 -2.81654796 -2.81025976 -2.86278976 -2.79890932
 -2.79231916 -2.79250486 -2.78684061 -2.78522679 -2.7721284  -2.79803338
 -2.79927402 -2.77924226 -2.80097065 -2.7583379  -2.78103724 -2.78146209
 -2.80148243 -2.78188526 -2.75224639 -2.77963322 -2.77195369 -2.76611563
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
 -3.61449116 -3.55393771 -3.57885829 -3.57041091 -3.70717059 -3.50087523
 -3.63848431 -3.60694674 -3.59362795 -3.56982233 -3.58192073 -3.55369281
 -3.63332641 -3.55899036 -3.59726893 -3.56008931 -3.50806807 -3.59111121
 -3.50929966 -3.64274924 -3.69124526 -3.52809797 -3.61875377 -3.59775918
 -3.57091864 -3.56035256 -3.57443549 -3.58531324 -3.60353547 -3.65098738
 -3.55693862 -3.60416243 -3.55338978 -3.59582086 -3.59653319 -3.56192916
 -3.46490906 -3.61075044 -3.64745745 -3.63189883 -3.65033522 -3.63572296
 -3.60241281 -3.60459219 -3.49386859 -3.62702198 -3.5699421  -3.53843478
 -3.6248912  -3.58310004 -3.58635281 -3.58585838 -3.57292086 -3.54261915
 -3.57887258 -3.57286196 -3.60620441 -3.57602301 -3.61315865 -3.52252707
 -3.66141988 -3.57615403 -3.58797171 -3.61941843 -3.66881138 -3.59878687
 -3.5840964  -3.54613471 -3.55033427 -3.56079088 -3.59158916 -3.59988899
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
 -2.72269746 -2.73491308 -2.73641585 -2.73299411 -2.74020177 -2.7261717
 -2.73138578 -2.72589763 -2.71483443 -2.71742635 -2.74221404 -2.73026831
 -2.73767533 -2.73003501 -2.74131467 -2.73134679 -2.74924862 -2.74620954
 -2.74352552 -2.75556024 -2.74790374 -2.73917774 -2.75863946 -2.74674033
 -2.75257409 -2.74800309 -2.74011398 -2.74547879 -2.74507896 -2.73500705
 -2.72834612 -2.74426704 -2.77815224 -2.73290075 -2.74643732 -2.73898757
 -2.74041312 -2.74093393 -2.72379254 -2.73137879 -2.73326833 -2.71582941
 -2.71400411 -2.7310416  -2.73652653 -2.72538411 -2.72711744 -2.73305504
 -2.799685   -2.73401443 -2.74713176 -2.73667029 -2.76712064 -2.72527684
 -2.72157652 -2.74044042 -2.73689668 -2.75204269 -2.75673892 -2.73074677
 -2.7318847  -2.744764   -2.73501387 -2.73663136 -2.79440342 -2.74357013
 -2.74643698 -2.7425232  -2.72483977 -2.75263899 -2.74082829 -2.74684061
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
 -2.82420647 -2.78388537 -2.780266   -2.79061466 -2.74047772 -2.7388798
 -2.7511784  -2.76255956 -2.75315374 -2.74233688 -2.77772209 -2.7818943
 -2.79099361 -2.76896316 -2.78268567 -2.75695027 -2.82706118 -2.75436116
 -2.79262757 -2.77136756 -2.85038864 -2.76668248 -2.76808979 -2.77971987
 -2.80937379 -2.7504906  -2.76127329 -2.75466772 -2.7762744  -2.76353961
 -2.7958174  -2.75650611 -2.75660795 -2.77030838 -2.78353559 -2.76187695
 -2.80714403 -2.8029128  -2.77382134 -2.80287482 -2.79880775 -2.79417518
 -2.78734229 -2.77876457 -2.79878541 -2.78599822 -2.75485925 -2.77353573
 -2.80029003 -2.76511458 -2.76492082 -2.75952663 -2.79191746 -2.79616955
 -2.78560919 -2.7812     -2.76286121 -2.7607333  -2.75429818 -2.76884766
 -2.79005697 -2.75645581 -2.75385335 -2.74837408 -2.77393011 -2.7648693
 -2.76078547 -2.77108801 -2.78361132 -2.78556643 -2.75434176 -2.80354677
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
         nan         nan         nan         nan         nan         nan
 -2.85656487 -2.8541707  -2.82743136 -2.82345304 -2.83730645 -2.83660765
 -2.82605722 -2.79670236 -2.79205659 -2.79121093 -2.78193834 -2.77167834
 -2.80671333 -2.78813031 -2.80922159 -2.80485459 -2.80747434 -2.79018214
 -2.80958192 -2.81111591 -2.84148008 -2.77601016 -2.80779664 -2.76233779
 -2.77849394 -2.77046446 -2.75600422 -2.78166619 -2.81114995 -2.8012879
 -2.78172574 -2.75921418 -2.79414022 -2.77241846 -2.76696754 -2.7541376
 -2.82730424 -2.84531317 -2.87258651 -2.82576237 -2.82994726 -2.80615961
 -2.8099295  -2.82403233 -2.79033596 -2.76615515 -2.77264271 -2.76158779
 -2.83771982 -2.77814888 -2.82929786 -2.785845   -2.82337778 -2.81437024
 -2.82753824 -2.77590701 -2.78920117 -2.7869923  -2.78316237 -2.76963716
 -2.78173965 -2.78177691 -2.79389351 -2.77180153 -2.79130035 -2.7770517
 -2.81454716 -2.78856977 -2.79523153 -2.76546546 -2.76682648 -2.77734879]
  warnings.warn(

Best Hyperparameters: {'max_depth': 5, 'max_features': 'log2', 'min_samples_leaf': 1, 'min_samples_split': 5, 'n_estimators': 150}
Best Mean Squared Error: 2.7140041092534775

In [144]:
base_models = [
    ('rf', RandomForestRegressor(max_depth=5, max_features='log2', min_samples_leaf=1, min_samples_split=5, n_estimators=150)),
    ('xgb', xgb.XGBRegressor(learning_rate=0.2, n_estimators=100, max_depth=1))
]

meta_estimator = LinearRegression() 

# Create the stacking ensemble model
stacking_model = StackingRegressor(estimators=base_models, final_estimator=meta_estimator)

In [145]:
cv_splits = 5 

# Create a TimeSeriesSplit cross-validator
tscv = TimeSeriesSplit(n_splits=cv_splits)

# Perform time series cross-validation and calculate MSE for each fold
mse_scores = -cross_val_score(stacking_model, X_train, y_train, scoring='neg_mean_squared_error', cv=tscv)

for i, mse in enumerate(mse_scores, 1):
    print(f'Fold {i}: Mean Squared Error = {mse}')

print(f'Average Mean Squared Error: {np.mean(mse_scores)}')

Fold 1: Mean Squared Error = 2.9405026349374728
Fold 2: Mean Squared Error = 2.5677263944037487
Fold 3: Mean Squared Error = 1.8425716662095766
Fold 4: Mean Squared Error = 2.7974903213227704
Fold 5: Mean Squared Error = 3.552996851387093
Average Mean Squared Error: 2.740257573652132

In [146]:
# Train the stacking model on the training data of the best fold
stacking_model.fit(X_train, y_train)

# Make predictions on the test data of the best fold
predictions = stacking_model.predict(X_test)

In [147]:
predictions

array([11.39813084, 11.48120006, 11.6419695 , 11.4659974 , 11.58023427,
       11.58479329, 11.82683869, 11.85086753, 11.82528817, 11.86310039,
       11.85199283, 11.74214171, 11.75062066, 11.86275066, 11.86192382,
       11.86215399, 11.67738969, 11.67117862, 11.860854  , 11.86503545,
       11.77718776, 11.78532146, 11.54195166, 11.50778812, 11.77903407,
       11.78036768, 11.76896913, 11.78762996, 11.70433717, 11.78653554,
       11.76935945, 11.96815758, 11.8646735 , 11.94644886, 12.12812374,
       12.1266717 , 12.1161762 , 12.12569512, 12.12647669, 12.02897718,
       12.10710687, 11.88015893, 12.11914309, 12.14996594, 12.15372242,
       12.15521573, 12.04136702, 11.8643133 , 11.96992546, 12.06441277,
       12.03109189, 12.04418747, 11.88609369, 12.14886673, 12.14022838,
       11.96405788, 12.04194874, 12.03282936, 12.04135427, 12.03039419,
       12.01420234, 12.10567549, 12.03038419, 12.11113239, 12.10957635,
       11.90569695, 12.11754559, 12.11658349, 12.11581565, 11.98933587,
       12.22675217, 11.97595417, 12.11423229, 12.11481095, 12.17091389,
       11.97616697, 11.85108259, 11.7478954 , 11.93280162, 11.95200932,
       11.84483193, 11.72945318, 11.85076273, 11.83233633, 11.84365843,
       12.05303439, 12.04474289, 12.06701019, 11.77713782, 11.89286586,
       11.94006458, 11.86498719, 11.74248044, 11.71929942, 11.94453511,
       11.77250878, 11.94500128, 11.78796543, 11.94057074, 11.94499072,
       11.94852845, 11.96007777, 11.83645829, 11.79423601, 11.83470327,
       11.86013698, 11.94404894, 11.68285035, 11.85122525, 11.94475887,
       11.82643255, 11.85030266, 12.19801465, 12.53219426, 12.07824954,
       12.10363958, 11.94601721, 11.94418389, 11.94613217, 11.95383101,
       11.64472431, 11.78172438, 11.59676517, 11.6425519 , 11.68924109,
       11.64070258, 11.95330493, 11.92185412, 12.06772737, 12.72483007,
       12.5993059 , 13.37608736, 13.95872553, 13.48933807, 13.85957146,
       13.22650651, 13.23855772, 12.4351093 , 12.8535141 , 13.77750918,
       13.02075021, 13.24698336, 12.64919524, 12.24441139, 12.16123166,
       12.63803192, 13.06656919, 13.26295826, 14.2456538 , 14.96516385,
       15.20563147, 14.75658738, 14.206296  , 14.20706786, 13.32749855,
       12.89816846, 12.83996692, 12.69674076, 12.63189449, 12.74168285,
       12.78196496, 13.03170495, 13.9861794 , 14.51424318, 14.57175273,
       16.49838233, 16.23900973, 15.72878235, 14.29227623, 14.25820383,
       14.78367813, 16.48003642, 16.27292068, 15.27492352, 15.75503297,
       15.79673146, 15.53094597, 14.94243662, 14.30751691, 14.74367309,
       15.90256775, 15.58030291, 15.10362158, 15.43272614, 16.28666706,
       16.16352101, 15.72757491, 15.68483329, 15.4059686 , 14.75153438,
       15.07339213, 15.15584238, 14.81884436, 14.63935537, 14.75531246,
       14.63884288, 14.99856336, 14.8171311 , 16.20123465, 17.04614487,
       16.6142699 , 16.70882519, 16.7517535 , 16.49168078, 16.23228402,
       15.73662522, 15.68974501, 15.65240285, 15.59411071, 14.79429083,
       15.62363748, 15.99772149, 16.51202618, 16.03575016, 16.88682718,
       15.77484682, 16.37827156, 17.09448613, 17.27741324, 17.03231202,
       16.31623816, 15.71262367, 15.60483599, 15.49517323, 15.23774177,
       14.80045406, 15.40466881, 15.36969231, 14.8090479 , 15.29267387,
       15.63789427, 15.3136143 , 14.74852604, 15.08042236, 15.36327081,
       15.72133215, 15.37081805, 15.14802829, 15.04850019, 15.69465226,
       15.58223947, 15.11352166, 15.0693924 , 15.88669271, 15.96767124,
       16.18245651, 14.77558151, 15.17392848, 15.31671374, 15.24892019,
       15.48712241, 14.9004702 , 15.75123258, 15.14522746, 14.94213429,
       14.4832337 , 14.58828045, 14.58410219, 14.56931601, 14.94743315,
       14.91576452, 14.45155393, 14.48578581, 15.07004346, 14.43096521,
       13.68744573, 13.19412205, 13.05373574, 13.15005454, 12.97172009,
       12.9577713 , 12.94656849, 12.92955779, 12.58073579, 12.64079729,
       12.55114039, 12.55895443, 12.76943154, 12.6822712 , 12.46895614,
       12.37066166, 12.30634181, 12.31969682, 12.41478496, 12.5007599 ,
       12.41204255, 12.37563064, 12.28529773, 12.52319062, 12.21805623,
       12.20893066, 12.28145808, 12.25644031, 12.40087715, 12.53974985,
       12.52781047, 12.60500129, 12.53704227, 12.25652448, 12.27046339,
       12.27337684, 12.39212363, 12.27976908, 12.25394087, 11.90373761,
       11.85465719, 11.85465719, 11.92272529, 11.94391032, 11.81745529,
       11.86363251, 11.81818935, 11.81469146, 11.9279382 , 11.83728767,
       11.77290315, 11.80633858, 11.80716456, 11.8076759 , 11.8718361 ,
       11.87801681, 11.85200954, 11.95236224, 11.84508597, 11.89132815,
       11.87803416, 11.79154554, 11.87702643, 11.79820016, 11.80647937,
       11.70490185, 11.82343422, 11.82462527, 11.85422173, 11.37746845,
       11.43864908, 11.27751733, 11.4562441 , 11.4337159 , 11.34709501,
       11.37793896, 11.37431454, 11.36367426, 11.36837794, 11.36860466,
       11.3728792 , 11.36837794, 11.35577132, 11.23453296, 11.36749144,
       11.45669279, 11.45377427, 11.4355932 , 11.33186825, 11.45230589,
       11.23893994, 10.50275047, 11.4733864 , 11.23262898, 11.35888934,
       11.68646243, 11.5518001 , 11.57901927, 11.26978651, 11.21043124,
       11.40407761, 11.5623651 , 11.39704384, 11.42165315, 11.46349013,
       11.53346571, 11.56014139, 11.56420602, 11.55872903, 11.55280556,
       11.55387681, 11.55082659, 11.66891829, 11.65961642, 11.47051247,
       11.36067025, 11.30453868, 11.38751476, 11.35205994, 11.38546317,
       11.55235022, 11.2931206 , 11.63362568, 11.542133  , 11.22456017,
       11.4215454 , 11.55051718, 11.61883265, 11.52409493, 11.54301007,
       11.5642037 , 11.99766406, 11.87122579])

## Creating the submission file

In [148]:
sample_submission = pd.read_csv('sample submission.csv')
sample_submission['Delivered water'] = predictions
sample_submission.to_csv('submission_5_tv.csv', index=False)